[*] Using environment settings from /data/bwh-comppath-seq/gary/final_script_checks/MCSPACE/mcspace/paper/scripts/settings.sh.
num otus = 58
times = [1 2 3 4 5]
subjects = ['H11']

epoch 0
ELBO =  tensor(41108549.1620, dtype=torch.float64, grad_fn=<NegBackward0>)
num otus = 58
times = [1 2 3 4 5]
subjects = ['H11']

epoch 0
ELBO =  tensor(40518066.5079, dtype=torch.float64, grad_fn=<NegBackward0>)
num otus = 58
times = [1 2 3 4 5]
subjects = ['H11']

epoch 0
ELBO =  tensor(40859105.1125, dtype=torch.float64, grad_fn=<NegBackward0>)
outputting summary results for best run
0
1
2
1
***ALL DONE***
